header {
   overflow: hidden;
   
}  
::-webkit-scrollbar{
   display:  none;
}

   body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   }
   
   .navbar {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 14px 0;
    margin: 0 7rem;
   }
   
   .navbar a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   .navbar a img {
    height: 40px;
    margin: 5px 0;
    fill: white;
   }
   
   .toggle-button img {
    width: 40px;
    height: 40px;
   }
   
   .logo {
    margin-right: auto;
   }
   
   @media screen and (max-width: 600px) {
    .navbar {
        margin: 0 1rem;
        padding: 0rem 3rem;
       }

    .navbar a:not(:first-child):not(.toggle-button) {
       display: none;
    }
   
    .navbar a.toggle-button {
       display: flex;
    }
   }

   @media screen and (max-width: 500px){
      .navbar {
         margin: 0 0;
         padding: 0rem 0rem;
        }
   }

   /* Hero Banner */

   .container {
      width: 900px;
      margin: 0 10%;
      /* overflow: auto; */
  }
  
  .slider-inner {
      width: 1100px;
      height: 500px;
      position: relative;
      overflow: hidden;
      float: left;
      padding: 3px;
      /* border: #666 solid 1px; */
  }
  
  .slider-inner img {
      display: none;
      width: 100%;
      height: 600px;
  }
  
  .slider-inner img.active {
      display: inline-block;
  }
  
  .next {
      /* float: left; */
      /* margin-top: 130px; */
      cursor: pointer;
      position: absolute;
      left: 83%;
      top: 57%;
      /* margin-left: -77px; */
      z-index: 100;
  }
   .blue-banner {
      background-color: #244AC2;
      color: white;
      text-align: center;
      font-size:large;
      display: inline-block;
      height: 3.5rem;
      width: 30rem;
      position: absolute;
      left: 0%;
      top: 66%;
      z-index: 2;

   }

   .black-banner {
      background-color: black;
      display: inline-block;
      height: 3.5rem;
      width: 40rem;
      z-index: -1;
      position: absolute;
      left: 50%;
      top: 57%;
      overflow: hidden;
   }

   @media screen and (max-width: 880px){
      nav {
         width: 70%;
      }
      .container {
         width: 60%;
      }
      .slider-inner img{
        max-width: 60%;
        object-fit: contain;
        display:none;
         
      }

      .blue-banner {
         display: inline-block;
         position: absolute;
         left: 0%;
         top: 80%;
         width: 20rem;
      }
      .black-banner {
         display:inline;
         width: 70%;
         border:2px solid green;
      }
   }

   /* about sec */

   .about-sec {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem 4rem ;
      margin: 0 4rem;
   }

   .about-text {
      padding: 1rem 0rem 1rem 0rem;
      margin: 0 6rem;
      font-size: small;
   }

   .about-img {
      padding: 0rem 2rem 0rem 3rem;
   }

   /* col sec */

   .col-sec {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      justify-content: center;
      gap: 1rem;
      margin: 0 10rem 0rem 13rem;
      
   }

   .box1 {
      background-color: #061C2C;
      color: white;
      height: 8rem;
      width: 18.5rem;
      padding-left: 20px;
      padding-top: 18px;
      margin-bottom: 3rem;
    }

    .box1 h3 {
      margin: 0;
    }

    .sub-box {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      column-gap: 10px;
    }

    .sub-box-1 {
      background-color: #244AC2;
      color: white;
      height: 2rem;
      width: 8.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: xx-small;
      padding: 2px 7px;
    }


    @media screen and (max-width: 1075px) {
      .container {
         width: 400px;
         margin: 0 37px;
     }
     .slider-inner {
      width: 1000px;
      height: 500px;
  }
  
  .slider-inner img {
      width: 100%;
      height: 500px;
  }
  .blue-banner {
   height: 3.5rem;
   width: 25rem;
   position: absolute;
   left: 0%;
   top: 80%;
   z-index: 2;
}
/* .black-banner {5
   display: none;
} */
.about-sec {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0.5rem 2rem ;
   margin: 0 0rem;
}
.about-text {
   padding: 0rem 0rem 1rem 0rem;
   margin: 0 3rem;
}
.about-img {
   padding: 0rem 4rem 0rem 4rem;
}
.col-sec {
   margin: 0 10rem 0rem 10rem;
}
    }

    @media screen and (max-width: 1035px) {
      .navbar {
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding: 0 0;
         margin: 0 7rem;
        }
      .container {
         width: 300px;
         margin: 0 80px;
     }
     .slider-inner {
      width: 900px;
      height: 500px;
  }
  .slider-inner img {
      width: 100%;
      height: 500px;
  }
    }

    @media screen and (max-width: 1000px) {
        .col-sec {
      gap: 4px;
      margin: 0 10rem 0rem 10rem;
      
   }
   .container {
      width: 300px;
      margin: 0 50px;
  }
    }

    @media screen and (max-width: 960px){
      .container {
         width: 300px;
         margin: 0 30px;
     }
     .col-sec {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      justify-content: center;
      /* gap: ; */
      /* margin: 0 10rem 0rem 13rem; */
      width: auto;
      
   }
   .box1 {
      background-color: #061C2C;
      color: white;
      height: 8rem;
     
      padding-left: 20px; width: 18.5rem;
      padding-top: 18px;
      margin-bottom: 3rem;
    }
    .box1 h3 {
      margin: 0;
    }
    .sub-box {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      column-gap: 7px;
      width: auto;
    }

    .sub-box-1 {
      background-color: #244AC2;
      color: white;
      height: 2rem;
      width: 8.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: xx-small;
      padding: 2px 7px;
    }
   }

    @media screen and (max-width: 940px){
      .container {
         width: 300px;
         margin: 0 20px;
     }
      .col-sec {
         display: grid;
         grid-template-columns: 16rem 16rem 16rem;
         grid-template-rows: auto auto;
         justify-content: center;
         gap: 2rem;
      }
      .box1 {
         background-color: #061C2C;
         color: white;
         height: 8rem;
         padding-left: 20px; 
         width: 100%;
         padding-top: 18px;
         margin-bottom: 3rem;
       }
       .sub-box {
         display: grid;
         grid-template-columns: 7.5rem 7.6rem;
         justify-content: center;
         column-gap: 22px;
         width: 100%;
       }
   
       .sub-box-1 {
         background-color: #244AC2;
         color: white;
         height: 2rem;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: xx-small;
         padding: 2px 8px;
       }
    }

    @media screen and (max-width: 860px) {
      .container {
      width: 300px;
      margin: 0 50px;
  }
      .about-sec {
         padding: 2rem 1rem ;
         margin: 0 0rem;
      }
      .about-text {
         padding: 0rem 0rem 1rem 0rem;
         margin: 0 2rem;
      }
      .about-img {
         padding: 0rem 0rem 0rem 0rem;
      }
      .col-sec {
         grid-template-columns: 16rem 16rem 16rem;
         justify-content: center;
         gap: 2rem;
         margin: 0 0 0 50px;
      }
      .box1 {
         padding-left: 20px; 
         width: 100%;
         padding-top: 18px;
         margin-bottom: 3rem;
       }
       .sub-box {
         display: grid;
         grid-template-columns: 7.5rem 7.6rem;
         justify-content: center;
         column-gap: 22px;
         width: 100%;
       }
       .sub-box-1 {
         height: 2rem;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 2px 8px;
       }
    }

    @media screen and (max-width: 810px) {
      .container {
         width: 300px;
         margin: 0 0px;
     }
      .about-sec {
         padding: 2rem 1rem ;
         margin: 0 0rem;
      }
      .about-text {
         padding: 0rem 0rem 1rem 0rem;
         margin: 0 1rem;
      }
      .about-img {
         padding: 0rem 0rem 0rem 0rem;
         margin: 0px 0px;
      }
      .col-sec {
         grid-template-columns: 16rem 16rem 16rem;
         justify-content: center;
         gap: 2rem;
         margin: 0 0 0 70px;
      }
      .box1 {
         padding-left: 20px; 
         width: 100%;
         padding-top: 18px;
         margin-bottom: 3rem;
       }
       .sub-box {
         display: grid;
         grid-template-columns: 7.5rem 7.6rem;
         justify-content: center;
         column-gap: 22px;
         width: 100%;
       }
       .sub-box-1 {
         height: 2rem;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 2px 8px;
       }
    }

    @media screen and (max-width: 770px) {
      .about-sec {
         padding: 2rem 1rem ;
         margin: 0 0rem;
      }
      .about-text {
         padding: 0rem 0rem 1rem 0rem;
         margin: 0 5rem;
      }
      .about-img {
         padding: 0rem 0rem 0rem 0rem;
         margin: 0px 0px 0 80px;
      }
      .col-sec {
         grid-template-columns: 16rem 16rem 16rem;
         justify-content: center;
         gap: 2rem;
         margin: 0 0 0 70px;
      }
      .box1 {
         padding-left: 20px; 
         width: 100%;
         padding-top: 18px;
         margin-bottom: 3rem;
       }
       .sub-box {
         display: grid;
         grid-template-columns: 7.5rem 7.6rem;
         justify-content: center;
         column-gap: 22px;
         width: 100%;
       }
       .sub-box-1 {
         height: 2rem;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 2px 8px;
       }
    }

    