   body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   }
   
   .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
    margin: 0 7rem;
   }
   
   .navbar a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   .navbar a img {
    height: 40px;
    margin: 5px 0;
    fill: white;
   }
   
   .toggle-button img {
    width: 40px;
    height: 40px;
   }
   
   .logo {
    margin-right: auto;
   }
   
   @media screen and (max-width: 600px) {
    .navbar {
        margin: 0 1rem;
        padding: 0rem 3rem;
       }

    .navbar a:not(:first-child):not(.toggle-button) {
       display: none;
    }
   
    .navbar a.toggle-button {
       display: flex;
    }
   }

   @media screen and (max-width: 500px){
      .navbar {
         margin: 0 0;
         padding: 0rem 0rem;
        }
   }

   /* Hero Banner */

   .carousel {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 300px;
     }
     
     .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      text-align: center;
      /* line-height: 300px; */
      font-size: 2em;
      color: #FFF;
     }
     
     .slide.active {
      display: block;
     }
     
     .carousel .next, .carousel .prev {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      font-size: 2em;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
     }
     
     .carousel .next {
      right: 0;
     }
     
     .carousel .prev {
      left: 0;
     }

   .blue-banner {
      background-color: #244AC2;
      color: white;
      text-align: center;
      font-size:large;
      display: inline-block;
      height: 3.5rem;
      width: 30rem;
      position: absolute;
      left: 0%;
      top: 57%;

   }

   .hero-img {
         max-width: 70%;
         display: block;
         margin-left: auto;
         margin-right: auto;
   }

   .black-banner {
      background-color: black;
      display: inline-block;
      height: 3.5rem;
      width: 40rem;
      z-index: -1;
      position: absolute;
      left: 50%;
      top: 57%;
   }

   @media screen and (max-width: 880px){
      .hero-img{
         display: inline-block;
      }

      .blue-banner {
         display: inline-block;
         position: absolute;
         left: 0%;
         top: 80%;
         width: 20rem;
      }
   }

   /* about sec */

   .about-sec {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2rem 4rem ;
      margin: 0 4rem;
   }

   .about-text {
      padding: 1rem 0rem 1rem 0rem;
      margin: 0 6rem;
      font-size: small;
   }

   .about-img {
      padding: 0rem 2rem 0rem 3rem;
   }

   /* col sec */

   .col-sec {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      justify-content: center;
      gap: 1rem;
      margin: 0 10rem 0rem 13rem;
      
   }

   .box1 {
      background-color: #061C2C;
      color: white;
      height: 8rem;
      width: 18.5rem;
      padding-left: 20px;
      padding-top: 18px;
      margin-bottom: 3rem;
    }

    .box1 h3 {
      margin: 0;
    }

    .sub-box {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      column-gap: 10px;
    }

    .sub-box-1 {
      background-color: #244AC2;
      color: white;
      height: 2rem;
      width: 8.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: xx-small;
      padding: 2px 7px;
    }